body {
    background-color: yellow;
    background-image: url(../images/dc.png);
    background-repeat: no-repeat;
    background-position: center;
    /* 圖片的位置，靠右、靠左、靠上、靠下、中間 */
    background-attachment: fixed;
    /* 圖片顯示的方式 */
    background-size: 400px 200px;
    /* 上下(高)、左右(寬)大小，也可以用%設定 */
}

body {
    color: seagreen !important;
    /* 重要性最高，會覆蓋其他規則 */
}

h1 {
    color: blue !important;
    /* 重要性最高，會覆蓋其他規則 */
}

h2 {
    color: red;
}

h3 {
    color: green;
}

h1,
h2,
h3,
span,
a {
    font-family: 標楷體;
}

[title="View translated versions of this page."]{
    color: purple;
}